<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.movilesgit">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovilesGit"
        tools:targetApi="31">
        <activity
            android:name=".U2.PruebaLiveData.API.Calculadora"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".U2.PruebaLiveData.Ej1Primos.MainActivityPrimos"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".U2.PruebaLiveData.AleatorioUI"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".U2.PruebaLiveData.MainLiveData"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreExamen.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".U2.pruebas.Pantalla3"
            android:exported="true" />
        <activity
            android:name=".U2.pruebas.Pantalla2"
            android:exported="true" />
        <activity
            android:name=".U2.pruebas.PantallaPrincipal"
            android:exported="true" />
        <activity
            android:name=".U2.taxi.ResumenViaje"
            android:exported="true" />
        <activity
            android:name=".U2.taxi.PrimeraTaxi"
            android:exported="true" />
        <activity
            android:name=".U2.Pantalla2"
            android:exported="false" />
        <activity
            android:name=".U2.CambioPantalla"
            android:exported="true" />
        <activity
            android:name=".primeras.MainActivity"
            android:exported="true" />
        <activity
            android:name=".primeras.BotonesVertHor"
            android:exported="true" />
        <activity
            android:name=".primeras.ContadorGrande"
            android:exported="true" />
        <activity
            android:name=".primeras.Pruebas"
            android:exported="true" />
        <activity
            android:name=".U2.practicaFormulario1"
            android:exported="true" />
        <activity
            android:name=".U2.PiedraPapelTijera"
            android:exported="true" />
    </application>

</manifest>